.about{
    margin-top: 2%;
    margin: auto;
    width: 90%;
    padding-bottom: 20%;
}



.about-title{
font-family: 'Emilys Candy', cursive;
color: #BDA7C7;
 font-size: 70px;
 padding-bottom: 20px;
 margin: 0 auto;
}

.para{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: #7BA3BE;
    margin-right: 10%;
}


.logoloco{
transform: scale(.5);
padding-top: 5%;
margin-left: auto;
margin-right: auto;
display: block;
}

.biodev{
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 10%;
}

.github{
    padding-left: 10px;
    padding-bottom: 20px;

}

.links{
    transform: scale(.7);
    position: relative;
    right: 15%;
}