nav {
    background: #ad717a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    box-shadow: 2px 2px 4px grey;
    margin-bottom: 1em;
    font-family: 'Sacramento', cursive;
    font-size: 30px;
  }

  .nav-image{
display: flex;
height: 30px;
position: relative;
transform: scale(8);
margin-left: 50px;
margin-top: 50px;

}

.navbar a:link {
  color: #e3ece6;
  text-decoration: none;
}  