nav {
    background: #ad717a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 4px grey;
    margin-bottom: 1em;
    font-family: 'Sacramento', cursive;
  }

  .nav-image{
display: flex;
height: 35px;
position: relative;
transform: scale(5);
margin-left: 70px;
margin-top: 40px;

}
.navbar{
  font-size: 35px;
 padding-right: 60px;
}

.navbar a:link {
  color: #e3ece6;
  text-decoration: none;
}  