body {
  margin: 0;
background-color: #cba3b27a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.menu-title {
  padding-top: 2%;
  text-align: center;
}

:visited {
  color: #71285c;  
}  